
<button routerLink="/admin/livros/novo" type="button" class="btn btn-outline-warning mb-3 mt-5 fw-bold">Novo</button>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Titulo</th>
      <th scope="col">Autor</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Pequeno Principe</td>
      <td>De um cara ai</td>
      <td><button routerLink="/admin/livros/editar/1" type="button" class="btn btn-primary btn-sm">Edit</button></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>A mente é o limite</td>
      <td>Vinicio Souza</td>
      <td><button routerLink="/admin/livros/editar/2" type="button" class="btn btn-primary btn-sm">Edit</button></td>

    </tr>
    <tr>
      <th scope="row">3</th>
      <td>A sutil arte</td>
      <td>De outro cara ai</td>
      <td><button routerLink="/admin/livros/editar/3" type="button" class="btn btn-primary btn-sm">Edit</button></td>

    </tr>
  </tbody>
</table>
