
<button routerLink="/admin/carros/novo" type="button" class="btn btn-outline-warning mb-3 mt-5 fw-bold">Novo</button>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Ano</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Suburu</td>
      <td>2012</td>
      <td><button routerLink="/admin/carros/editar/1" type="button" class="btn btn-primary btn-sm">Edit</button></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Dodge Charger</td>
      <td>2003</td>
      <td><button routerLink="/admin/carros/editar/2" type="button" class="btn btn-primary btn-sm">Edit</button></td>

    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Corolla</td>
      <td>2004</td>
      <td><button routerLink="/admin/carros/editar/3" type="button" class="btn btn-primary btn-sm">Edit</button></td>

    </tr>
  </tbody>
</table>
